@use 'variables';

.calculatorpage {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='800' preserveAspectRatio='none' viewBox='0 0 2000 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1051%26quot%3b)' fill='none'%3e%3crect width='2000' height='800' x='0' y='0' fill='rgba(20%2c 24%2c 39%2c 1)'%3e%3c/rect%3e%3cpath d='M0 98.04C43.41 35.53 65.33 36.06 138.89 0C165.33 -12.96 169.44 0 200 0C257.89 0 259.06 -7.56 315.79 0C359.06 5.77 358.29 26.67 400 26.67C435.18 26.67 433.21 4.85 469.57 0C533.21 -8.49 534.78 0 600 0C700 0 700 0 800 0C900 0 900 0 1000 0C1074.42 0 1108.3 -42.1 1148.84 0C1204.6 57.9 1226.6 120.35 1192.59 200C1152.18 294.63 1093.19 270.9 1000 348.57C973.21 370.9 977.56 375.51 952.63 400C877.56 473.73 870.3 467.9 800 545C779.12 567.9 770.27 571.42 770.27 600C770.27 639.66 765.27 670.23 800 681.48C880.13 707.44 910.68 701.42 1000 674.42C1045.47 660.68 1034.51 636.95 1069.57 600C1134.51 531.56 1140.9 536.16 1200 463.64C1222.39 436.16 1232.02 434.46 1232.56 400C1234.1 302.64 1193.31 297.37 1204.17 200C1215.62 97.37 1215.09 63.42 1277.19 0C1313.01 -36.58 1338.6 0 1400 0C1462.5 0 1486.23 -35.4 1525 0C1586.23 55.91 1568.1 182.61 1600 182.61C1630.6 182.61 1594.2 50.94 1650 0C1694.2 -40.36 1725 0 1800 0C1900 0 1945.83 -45.83 2000 0C2045.83 38.78 2005.56 85.77 2000 169.23C1998.9 185.77 1986.67 187.36 1986.67 200C1986.67 205.41 1999.54 198.46 2000 205.33C2006.21 298.46 2000 302.66 2000 400C2000 500 2000 500 2000 600C2000 691.66 2001.27 691.77 2000 783.33C1999.88 791.77 2005.11 799.34 1997.22 800C1905.11 807.68 1898.61 800 1800 800C1700 800 1700 800 1600 800C1509.09 800 1448.56 846.8 1418.18 800C1383.65 746.8 1476.68 686.99 1470.18 600C1467.59 565.25 1435.71 556.52 1400 556.52C1360.62 556.52 1352.8 569.44 1320 600C1252.8 662.61 1262.6 673.9 1200 742.86C1171.83 773.9 1176.21 789.21 1138.46 800C1076.21 817.78 1069.23 800 1000 800C900 800 900 800 800 800C700 800 700 800 600 800C500 800 500 800 400 800C300 800 300 800 200 800C141.31 800 136.9 814.74 82.61 800C36.9 787.59 16.7 786.13 0 745.71C-24.61 686.13 0 672.86 0 600C0 515 -30.77 430 0 430C40.06 430 73.88 512.72 141.67 600C173.88 641.47 169.94 687.5 200 687.5C230.93 687.5 249.87 650.37 263.64 600C289.16 506.62 286.99 498.68 278.57 400C269.92 298.68 256.42 299.32 229.51 200C217.13 154.32 219.32 110 200 110C178.85 110 181.61 160.59 148.57 200C81.61 279.88 43.52 348.57 0 348.57C-30.77 348.57 0 274.28 0 200C0 149.02 -26.03 135.53 0 98.04' stroke='rgba(255%2c 250%2c 227%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M800 175.31C775.3 175.31 751.22 183.45 751.22 200C751.22 221.43 774.78 251.28 800 251.28C826.95 251.28 855.56 221.05 855.56 200C855.56 183.07 827.47 175.31 800 175.31' stroke='rgba(115%2c 102%2c 129%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M600 312.73C544.22 312.73 482.93 362.24 482.93 400C482.93 433.46 542.94 455.17 600 455.17C646.76 455.17 690.57 432.58 690.57 400C690.57 361.36 648.04 312.73 600 312.73' stroke='rgba(255%2c 250%2c 227%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1800 542.11C1759.07 542.11 1725.42 572.82 1725.42 600C1725.42 625.42 1760.05 647.31 1800 647.31C1864 647.31 1933.33 625.94 1933.33 600C1933.33 573.34 1863.02 542.11 1800 542.11' stroke='rgba(115%2c 102%2c 129%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 196.08C1.82 196.08 5.71 197.78 5.71 200C5.71 202.59 1.67 205.71 0 205.71C-1.18 205.71 0 202.86 0 200C0 198.04 -1.03 196.08 0 196.08' stroke='rgba(255%2c 250%2c 227%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M311.48 200C311.48 149.3 344.27 124.49 400 110C488.53 86.99 528.49 158.37 600 125C646.35 103.37 591.54 27.61 635.71 0C691.54 -34.89 717.86 0 800 0C900 0 900 0 1000 0C1045.35 0 1089.61 -29.51 1090.7 0C1093.31 70.49 1050.88 101.4 1007.41 200C1005.53 204.26 1003.5 205.71 1000 205.71C997.02 205.71 998.05 201.66 994.44 200C898.05 155.6 896.13 113.58 800 113.58C713.55 113.58 713.25 154.55 629.27 200C613.25 208.67 615.14 211.63 600 221.82C500.51 288.78 482.84 360.55 400 354.29C338.58 349.64 311.48 271.44 311.48 200' stroke='rgba(255%2c 250%2c 227%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1308.33 200C1327.2 98.27 1325.7 85.56 1364.91 0C1371.53 -14.44 1382.45 0 1400 0C1417.86 0 1428.59 -14.57 1435.71 0C1477.48 85.43 1447.13 113.47 1497.78 200C1529.28 253.82 1544.02 280.7 1600 280.7C1683.59 280.7 1750.66 267.3 1776.92 200C1805.42 126.95 1701.44 69.99 1709.52 0C1712.98 -30.01 1754.76 0 1800 0C1873.07 0 1942.33 -38.2 1946.15 0C1952.33 61.8 1805.2 125.27 1820 200C1832.13 261.27 1945.79 211.77 2000 272C2035.79 311.77 2000 336 2000 400C2000 477.42 2041.88 538.86 2000 554.84C1941.88 577.02 1892.67 464.67 1800 476.32C1713.01 487.25 1640.68 541.94 1640.68 600C1640.68 654.32 1722.68 647.21 1800 701.08C1866.23 747.21 1927.78 772.38 1927.78 800C1927.78 821.84 1863.89 800 1800 800C1700 800 1700 800 1600 800C1565.91 800 1537.14 825.26 1531.82 800C1516.08 725.26 1592.2 677.52 1557.89 600C1526.29 528.61 1473.99 557.56 1400 502.17C1340.4 457.56 1310.27 464.51 1290.7 400C1264.44 313.43 1290.1 298.27 1308.33 200' stroke='rgba(115%2c 102%2c 129%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M784.91 400C784.91 389.79 791.61 379.49 800 379.49C809.68 379.49 821.05 389.81 821.05 400C821.05 410.07 809.7 420 800 420C791.63 420 784.91 410.05 784.91 400' stroke='rgba(115%2c 102%2c 129%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 513.33C20.42 513.33 72.22 558.05 72.22 600C72.22 638.53 21.03 674.29 0 674.29C-15.08 674.29 0 637.14 0 600C0 556.66 -15.69 513.33 0 513.33' stroke='rgba(115%2c 102%2c 129%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M339.39 600C339.39 530.92 344.25 475.83 400 457.14C474.56 432.15 508.25 469.34 600 512.64C659.6 540.77 702.7 549.78 702.7 600C702.7 666.53 670.32 723.49 600 746.15C518.97 772.27 483.63 744.46 400 697.56C353.33 671.39 339.39 651.13 339.39 600' stroke='rgba(115%2c 102%2c 129%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1178.26 600C1178.26 588.51 1189.37 577.27 1200 577.27C1210.24 577.27 1220 588.52 1220 600C1220 611.79 1210.25 623.81 1200 623.81C1189.38 623.81 1178.26 611.78 1178.26 600' stroke='rgba(255%2c 250%2c 227%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M191.3 800C191.3 797.58 194.98 791.67 200 791.67C208.03 791.67 217.39 797.81 217.39 800C217.39 801.98 208.69 800 200 800C195.65 800 191.3 801.75 191.3 800' stroke='rgba(115%2c 102%2c 129%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M963.64 800C963.64 797.64 982.97 790.7 1000 790.7C1006.28 790.7 1010.26 797.33 1010.26 800C1010.26 801.98 1005.13 800 1000 800C981.82 800 963.64 802.29 963.64 800' stroke='rgba(115%2c 102%2c 129%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M393.44 200C393.44 196.24 395.94 193.33 400 193.33C408.75 193.33 419.05 195.69 419.05 200C419.05 204.74 408.04 211.43 400 211.43C395.23 211.43 393.44 205.29 393.44 200' stroke='rgba(115%2c 102%2c 129%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M800 51.85C757.12 40.36 725 14.22 725 0C725 -11.7 762.5 0 800 0C900 0 900 0 1000 0C1016.28 0 1032.56 -10.6 1032.56 0C1032.56 26.24 1033.25 66.27 1000 73.68C916.97 92.19 894.62 77.2 800 51.85' stroke='rgba(115%2c 102%2c 129%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1800 74.29C1780.84 74.29 1769.05 26.83 1769.05 0C1769.05 -10.32 1784.53 0 1800 0C1825 0 1850 -13.31 1850 0C1850 23.84 1821.32 74.29 1800 74.29' stroke='rgba(115%2c 102%2c 129%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1348.84 400C1348.84 319.03 1346.47 230.73 1400 224C1472.05 214.94 1489.55 328.32 1600 368.42C1689.55 400.93 1700.58 376.62 1800 369.23C1900.58 361.75 1923.26 326.86 2000 338.67C2023.26 342.25 2000 369.34 2000 400C2000 437.1 2026.12 472.81 2000 474.19C1926.12 478.08 1899.42 408.63 1800 410.53C1699.42 412.45 1702.28 472.28 1600 481.82C1502.28 490.93 1493.35 478.24 1400 447.83C1367.77 437.33 1348.84 430.94 1348.84 400' stroke='rgba(255%2c 250%2c 227%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 596.67C0.79 596.67 2.78 598.39 2.78 600C2.78 601.48 0.81 602.86 0 602.86C-0.58 602.86 0 601.43 0 600C0 598.34 -0.6 596.67 0 596.67' stroke='rgba(255%2c 250%2c 227%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M455.56 600C455.56 580.38 531.6 570.11 600 570.11C621.39 570.11 635.14 582.82 635.14 600C635.14 622.76 625.65 650 600 650C535.86 650 455.56 620.33 455.56 600' stroke='rgba(255%2c 250%2c 227%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1664.52 800C1664.52 788.41 1736.1 754.84 1800 754.84C1833.01 754.84 1858.33 787.39 1858.33 800C1858.33 809.97 1829.16 800 1800 800C1732.26 800 1664.52 810.99 1664.52 800' stroke='rgba(255%2c 250%2c 227%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1051'%3e%3crect width='2000' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    min-height: 100vh;
    @include variables.flexbox(center,center)
}

.persons {
    padding: 30px 0;
    margin-top: 70px;
    width: 80%;
    background-color: variables.$color-5;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #000;

    &__title {
        text-align: center;
        color: variables.$color-1;
        letter-spacing: 1px;
        margin: 0
    }

    &__form {
        @include variables.flexbox(center,center);
        flex-direction: column;
        margin: 15px;

        &__section {
            margin: 5px 0;
            width: 100%;

            & label {
                color: variables.$color-1;
                padding-left: 10px;
            }

            & span {
                color: variables.$color-1;
                font-weight: 600;
            }

            &__input {
                margin-top: 5px;
                margin-left: 5px;
                border: none;
                background-color: transparent;
                border-bottom: 2px solid variables.$color-3;
                color: variables.$color-1;
                font-weight: 700;
                font-size: 18px;
                padding: 0 5px;
            }

            &__input:focus {
                outline: none;
            }
        }

        &__submit {
            margin: 15px auto;
            width: 120px;
            border: 2px solid variables.$color-3;
            background-color: transparent;
            color: variables.$color-3;
            font-size: 16px;
            padding: 5px 0;
            border-radius: 20px;
            font-weight: 600;
            transition: all 0.5s;
            cursor: pointer;

            &:hover {
                background-color: variables.$color-3;
                color: variables.$color-5;
                transition: all 0.3s;
            }
        }
    }

    &__personslist {
        @include variables.flexbox(center,center);
        padding: 0;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0 10px;

        &__li {
            @include variables.flexbox(center,center);
            gap: 10px;    
            height: 30px;           
            
            &-name {
                color: variables.$color-1;
            }

            &-money {
                color: variables.$color-3;
                font-weight: 600;
            }
        }
    }

    &__calculate {
        margin: auto;
        display: block;
        padding: 5px 15px;
        border: 2px solid variables.$color-3;
        background-color: variables.$color-5;
        color: variables.$color-3;
        font-weight: 600;
        border-radius: 20px;
        cursor: pointer;
        font-size: 16px;
        width: 120px;
        transition: all 0.5s;

        &:hover {
            background-color: variables.$color-3;
            color: variables.$color-5;
            transition: all 0.3s;
        }
    }
}

.data {
    position: absolute;
    top: 0;
    left: 0;
    @include variables.flexbox(center,center);
    flex-direction: column;
    z-index: 100;
    background-color: #000000c6;
    height: 100%;
    width: 100%;


    &__person {
        background-color: variables.$color-5;
        padding: 15px 20px;
        width: 70%;
        margin: 0;
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        color: variables.$color-1;
    }

    &__back {
        margin: 10px;
        padding: 5px 20px;
        border: 2px solid variables.$color-5;
        border-radius: 20px;
        background-color: variables.$color-1;
        color: variables.$color-5;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 1px;
        transition: all 0.5s;

        &:hover {
            background-color: variables.$color-5;
            color: variables.$color-1;
            transition: all 0.3s;
        }
    }
}

@media screen and (min-width: 768px) {
    .persons {
        width: 60%;

        &__title {
            font-size: 24px;
        }

        &__form {
            text-align: center;

            &__section {
                & label {
                    font-size: 18px;
                }
            }
        }

        &__personslist {
            padding: 0 15px;

            &__li {
                font-size: 18px;
            }
        }
    }

    .data {
        &__person {
            width: 60%;
        }
    }

}

@media screen and (min-width: 1024px) {
    .persons {
        width: 50%;

    }

    .data {
        &__person {
            width: 50%;
        }
    }
}
